/* BASIC STYLES HERE */
body{
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow-y: hidden;
    position: relative;
  }
.todo{
    height: 28vh;
    background-color: rgb(198, 198, 198);
    overflow-y: auto;
    border: 2px solid;
    border-radius: 3px;
    border-color: #333232;
    overflow-y: auto;
    text-transform: capitalize;
    position: absolute;
    top: 68vh;
    right: 2vw;
}
.clock{
  position: absolute;
  top: 43vh;
  right: 45vw;
}
.quote{
  position: absolute;
  top: 82vh;
  right: 43vw;
}
.weather{
  position: absolute;
  top: 3vh;
  right: 73vw;
}

